
.featured__card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem;
    overflow: hidden;
    border: 2px solid var(--border-color);
    transition: border .4s, background-color .4s;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.featured__img {
    width: 150px;
    margin: 0 auto .75rem;
    object-fit: cover;
}

.featured__title {
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    min-height: calc(var(--h2-font-size) * 1.4 * 2);
}

.featured__swiper {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.swiper-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem;
    position: absolute;
}

.featured__prices {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
    margin-top: auto;
}



.featured__price {
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.featured__card .button {
    cursor: pointer;
}

.featured__actions {
    display: inline-flex;
    flex-direction: column;
    row-gap: .75rem;
    position: absolute;
    top: 2rem;
    right: -1.5rem;
    transition: right .4s;
}

    .featured__actions button {
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
    }

.featured__card {
    min-width: 250px;
}


/* Swiper*/

.swiperFeatured {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    width: 80%;
    min-height: 500px;
/*        overflow: hidden;*/
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}


.item {
    left: max(calc(300px * 8), 100%);
    position: absolute;
    animation: scrollLeft infinite 35s linear;
}

.item1 {
    animation-delay: calc(35s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(35s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(35s / 8 * (8 - 3) * -1);
}
.item4 {
    animation-delay: calc(35s / 8 * (8 - 4) * -1);
}
.item5 {
    animation-delay: calc(35s / 8 * (8 - 5) * -1);
}
.item6 {
    animation-delay: calc(35s / 8 * (8 - 6) * -1);
}
.item7 {
    animation-delay: calc(35s / 8 * (8 - 7) * -1);
}
.item8 {
    animation-delay: calc(35s / 8 * (8 - 8) * -1);
}



@keyframes scrollLeft {

    to {
        left: -250px;
    }
}



