
.featured__card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem;
    overflow: hidden;
    border: 2px solid var(--border-color);
    transition: border .4s, background-color .4s;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.featured__img {
    width: 150px;
    margin: 0 auto .75rem;
}

.featured__title {
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    min-height: calc(var(--h2-font-size) * 1.4 * 2);
}

.featured__swiper {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.swiper-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.featured__prices {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
    margin-top: auto;
}



.featured__price {
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.featured__card .button {
    cursor: pointer;
}

.featured__actions {
    display: inline-flex;
    flex-direction: column;
    row-gap: .75rem;
    position: absolute;
    top: 2rem;
    right: -1.5rem;
    transition: right .4s;
}

    .featured__actions button {
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
    }

.featured__card:hover .featured__actions {
    right: 1.5rem;
}

.swiperFeatured {
    display: flex;
    justify-content:center;
    gap: 1rem;
}

/* Swiper */

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--first-color);
    transition: border .4s, background-color .4s;
}
