.login {
    /*    display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    background-color: hsla(230, 12%, 96%, .6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    transition: top .4s;
}

.login__form {
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border: 2px solid var(--border-color);
    row-gap: 1.25rem;
    max-width: 100%;
    min-width: 500px;
}

.login__title {
    font-size: var(--h2-font-size);
}

.login__group {
    row-gap: 1.25rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--container-color);
    color: var(--text-color);
}


.login__signup {
    display: block;
    font-size: var(--small-font-size);
}

.login__singup {
    margin-bottom: .5rem;
}

    .login__singup a {
        cursor: pointer;
        color: var(--first-color);
        font-weight: var(--font-medium);
    }


.login__button {
    width: 100%;
    cursor: pointer;

}

.login__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--title-color);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .login__form {
        min-width: 350px;
    }
}