.userPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--border-color);
}


.boughtBooks {
    min-width: 500px;
}

.boughtInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.boughtBookInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .boughtBookInfo h4 {
        /* border-bottom: 2px solid var(--first-color); */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

span {
    color: var(--text-color);
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 3rem;
    border-radius: 10px;
    background-color: var(--container-color);
}

    .userCard button {
        padding: 0.5rem 1rem;
        color: var(--white-color);
        background-color: var(--first-color);
        cursor: pointer;
    }


.new__img {
    min-height: 200px;
}
