.bookDetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}

.bookDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 10rem;
    margin-top: 100px;
    padding: 1rem;
    background-color: var(--border-color);
}

.bookPresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bookBtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

    .bookBtns button {
        padding: 0.7rem 1rem;
        background-color: var(--first-color);
        color: var(--white-color);
        border: 2px solid var(--first-color);
        cursor: pointer;
    }

    .bookBtns :last-child {
        background-color: transparent;
        color: var(--first-color);
    }


.bookImg {
    width: 250px;
    min-height: 300px;
    max-height: 400px;
}

.bookInfo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 25%;
}

    .bookInfo h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
        border-bottom: 2px solid var(--first-color);
    }


.bookReviews-container {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.bookReview-form {
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.bookReview-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    padding: 2rem;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
}

    .bookReview-inputs h2 {
        width: 100%;
        align-self: flex-start;
        border-bottom: 2px solid var(--first-color);
    }

.bookReview-form label {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    width: 100%;
}

.bookReview-form input,
.bookReview-form textarea {
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
}



.bookReviewBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

    .bookReviewBtns button {
        background-color: var(--first-color);
        border: 2px solid var(--first-color);
        color: var(--white-color);
        padding: 0.5rem 0.7rem;
        cursor: pointer;
    }

    .bookReviewBtns :last-child {
        background-color: transparent;
        color: var(--first-color);
    }

.bookReviews {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addReview {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

#buyContent,
#borrowContent {
    margin-top: 100px;
    display: none;
    text-align: center;
    position: absolute; 
    z-index: 9999;
}
.testimonial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem 0rem 2rem;
}
.testimonial__card {
    text-align: center;
    padding: 2rem 3rem 2.5rem;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    transition: border .4s, background-color .4s;
    min-width: 300px;
}

.testimonial__title {
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.testimonial__description {
    font-style: var(--first-color);
    margin-bottom: 1.5rem;
}


.starIcons {
    color: gold;
}

@media only screen and (max-width: 1024px)  {

    .testimonial__container {
        padding-top: 2rem;
    }

    .testimonial__card {
        padding-inline: 2rem;
    }

    .testimonial__title {
        font-size: var(--h3-font-size);
    }

    .testimonial__description {
        font-size: var(--normal-font-size);
    }
}

@media screen and (max-width: 758px) {
    .bookDetails {
        justify-content: space-evenly;
        gap: 1rem;
    }

    .bookInfo {
        width: 45%;
    }

        .bookInfo h4 {
            justify-content: space-between;
            font-size: var(--font-small);
        }

    .bookReview-inputs {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .bookDetails {
        flex-direction: column;
    }

    .bookInfo {
        width: 85%;
    }
    .testimonial__card {
        padding-inline: 1rem;
    }
}


