
.bookSearch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: var(--text-color);
    background-color: var(--border-color);
    margin-top: 100px;
    padding: 2rem 1.5rem;
}

.bookSearch-form {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding-inline: 1rem;
    width: 40%;
}

.search-input {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--container-color);
    color: var(--text-color);
}





/* Books display */

.bookDisplay-container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
}

.bookCard {
    max-width: 250px;
    max-height: 385px;
    min-height: 350px
}

.bookCardContent {
    text-align: center;
}

.ri-star-fill,
.ri-star-half-fill {
    color: gold;
}

.bookCard {
    display: flex;
    flex-direction: column;
}



/* Books page number */
.pageNumbers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: var(--text-color);
    background-color: var(--border-color);
    padding: 1rem 0.7rem;
    margin-top: 20px;
}

.pageLink {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--white-color);
}
.active {
    border: 2px solid var(--border-color);
    background-color: var(--first-color);
    color: var(--white-color);
}

.new__img {
    height: 200px;
}

.author {
    font: var(--small-font-size);
    color: var(--first-color);
}

.sortFilter-Container {
    position: relative;
}

.sortFilter {
    display: none;
    /* display: flex; */
    min-width: 400px;
    align-items: center;
    justify-content: center;
    background-color: var(--container-color);
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 9999999999900;
    border-radius: 10px 0 10px 10px;
    padding: 1rem;
}

    .sortFilter h4 {
        border-bottom: 2px solid var(--first-color);
    }

.sortFilter-btn {
    cursor: pointer;
    width: 100%;
    padding-block: 1rem;
    background-color: var(--container-color);
    color: var(--text-color);
    background-color: transparent;
}
.sortFilter-icon {
    width: 100%;
    padding-block: 1rem;
}

#overlay {
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9;
    inset: 0;
    display: none;
}

.sortForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sortForm-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

    .sortForm-inputs label {
        display: flex;
        gap: 5px;
        padding: 0 1rem;
    }


.filterForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}


.sortFilter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

    .sortFilter-btns button {
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--border-color);
        padding: 0.3rem 0.7rem;
    }

    .sortFilter-btns :first-child {
        background-color: var(--first-color);
        color: var(--white-color);
    }


@media screen and (max-width: 1024px) {
    .bookDisplay-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 758px) {
    .bookSearch-form {
        width: 60%;
    }

    .sortBooks {
        padding: 1rem 0.5rem;
    }

    .bookDisplay-container {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 600px) {
    .sortFilter {
        width: 300px;
        min-width: 250px;
    }
}
