.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s, background-color .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}
.nav__menu {
    width: 380px;
    margin-inline: auto;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.MainIcon {
    font-size: 1.25rem;
}



.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--text-color);
    transition: color .4s;
}

    .nav__link span {
        display: none;
    }

    .icon {
        font-size: 1.25rem;
    }

    .nav__link:hover {
        color: var(--first-color);
    }

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    min-width: 100px;
}

.navAction {
    font-size: 1.25rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color .4s;
}

    .navAction:hover {
        color: var(--first-color);
    }


.shadow-header {
    box-shadow: 0 2px 16px hsla(0,0%,0%, .1);
}

.active-link {
    color: var(--first-color);
}



.nav__list {
    display: flex;
    align-items: center;
    column-gap: 2rem; 
}

@media screen and (max-width: 1150px) {
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
        padding: 1.25rem 4rem;
        transition: background-color .4s;
    }
}

@media screen and (min-width: 1150px) {

    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__list {
        column-gap: 4rem; 
    }

    .nav__link .icon {
        display: none;
    }

    .nav__link span {
        display: block;
    }

    .nav__menu {
        width: initial;
        margin-inline: auto 0;
    }

    .nav__list {
        column-gap: 4rem;
    }

    .nav__link {
        font-weight: var(--font-medium);
    }

    .dark-theme .nav__menu {
        box-shadow: none;
    }
}
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 380px;
        margin-inline: auto;
    }
}
@media screen and (max-width: 320px) {

    .nav__menu {
        padding-inline: 3rem;
    }
}


    @media screen and (min-width: 1150px) {


        .nav {
            height: calc(var(--header-height) + 2rem);
            column-gap: 4rem;
        }

        .nav__list {
            column-gap: 4rem;
            /* more spacing on large screens */
        }

        .nav__link i {
            display: none;
        }

        .nav__link span {
            display: block;
        }

        .nav__menu {
            width: initial;
            margin-inline: auto 0;
        }

        .nav__list {
            column-gap: 4rem;
        }

        .nav__link {
            font-weight: var(--font-medium);
        }

        .dark-theme .nav__menu {
            box-shadow: none;
        }
    }