:root {
    --header-height: 3.5rem;


    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);


    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
    height: 100%;
}

input,
button {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Variables Dark theme */
body.dark-theme {
    --title-color: hsl(230, 48%, 85%);
    --text-color: hsl(230, 16%, 70%);
    --border-color: hsl(230, 12%, 18%);
    --body-color: hsl(230, 12%, 8%);
    --container-color: hsl(230, 12%, 12%);
}

/*
	Color changes in some parts of 
	the website, in dark theme
*/
.dark-theme .shadow-header {
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);
}

.dark-theme .nav__menu {
    box-shadow: 0-8px 32px hsla(0, 0%, 0%, .4);
}

.dark-theme .scrollup {
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);
}

.dark-theme .search,
.dark-theme .login {
    background-color: hsla(230, 12%, 8%, .6);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsl(230, 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 35%);
}


.dark-theme::-webkit-scrollbar-thumb {
    background-color: hsl(230, 16%, 25%);
}

/*Reuse css classes*/

.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden; 
}
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.5rem;
    transition: box-shadow .4s;
}

    .button:hover {
        box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
    }